<div class="container">
  <h1 class="mt-5 text-center mb-6">Admin Page</h1>
  <hr />
  <div class="row">
    <div class="col-6">
      <form action="/debt" method="POST">
        <button type="submit" class="btn btn-primary btn-block">Debt</button>
      </form>
    </div>
    <div class="col-6">
      <form action="/add-savings" method="GET">
        <button type="submit" class="btn btn-primary btn-block">Savings</button>
      </form>
    </div>
  </div>
</div>
