<div class="container">
  <h1 class="mt-5 text-center mb-6">Admin Page</h1>
  <hr />
  <div class="unverified-users">
    <h2 class="text-center mb-4">Unverified Users</h2>
    <% if (unverifiedUsers.length > 0) { %>
    <div class="row justify-content-center">
      <div class="col-md-8">
        <ul class="list-group">
          <% unverifiedUsers.forEach(user => { %>
          <li class="list-group-item">
            <div class="user-info">
              <div class="user-details">
                <span class="font-weight-bold">Name:</span> <%= user.name %><br />
                <span class="font-weight-bold">Username:</span> <%=
                user.username %>
              </div>
              <form action="/verify-user/<%= user._id %>" method="POST">
                <button type="submit" class="btn btn-success btn-sm">
                  Verify
                </button>
              </form>
            </div>
          </li>
          <% }); %>
        </ul>
      </div>
    </div>
    <% } else { %>
    <p class="text-center">No unverified users found.</p>
    <% } %>
  </div>

  <hr />

  <!-- Other functionalities -->
  <div class="row">
    <h2>Manage Accounts</h2>
    <div class="col-4">
      <form action="/add-account" method="GET">
        <button type="submit" class="btn btn-primary btn-block">Add</button>
      </form>
    </div>
    <div class="col-4">
      <form action="/edit-accounts" method="GET">
        <button type="submit" class="btn btn-primary btn-block">Edit</button>
      </form>
    </div>
    <div class="col-4">
      <form action="/dashboard" method="GET">
        <button type="submit" class="btn btn-primary btn-block">Home</button>
      </form>
    </div>
  </div>
</div>
