<div class="container">
  <img src="/images/logo.png" alt="App Logo" class="logo" />
  <div class="header text-center">
    
    <h1>Penny Pal</h1>
    <hr>
    <div class="button-container">
    <a href="/register"><button class="btn-primary">Register</button></a>
    <a href="/login"><button class="btn-primary">Login</button></a>
  </div>
  </div>
  
    <p class="text-center tagline">Made with ❤️ by Andy</p>
  </div>
</div>
