<div class="container">
  <div class="header text-center">
    <img src="/images/logo.png" alt="App Logo" class="logo" />
    <h1>Penny Pal</h1>
    <hr />
    <h2>Login to your account</h2>
  </div>

  <form action="/login" method="post" onsubmit="trimInputs()">
    <div class="form-group">
      <label for="username">Enter Username:</label>
      <input
        type="text"
        id="username"
        name="username"
        class="form-control"
        required
      />
      <label for="password">Enter Password:</label>
      <input
        type="password"
        id="password"
        name="password"
        class="form-control"
        required
      />
    </div>
    <p class="fs-6">
      New User? Register
      <span class="user-interaction"><a href="/register">here</a></span>
    </p>
    <button type="submit" class="btn admin-btn">Login</button>
  </form>
</div>

<script>
  function trimInputs() {
    var usernameInput = document.getElementById("username");
    var passwordInput = document.getElementById("password");

    // Trim leading and trailing whitespace from the input values
    usernameInput.value = usernameInput.value.trim();
    passwordInput.value = passwordInput.value.trim();
  }
</script>
