<div class="container">
  <div class="header text-center">
    <img src="/images/logo.png" alt="App Logo" class="logo" />
    <h1>Penny Pal</h1>
    <hr />
    <h2>Register for an account</h2>
  </div>

  <form action="/register" method="post">
    <div class="form-group">
      <label for="name">Enter First Name:</label>
      <input type="text" id="name" name="name" class="form-control" required />
      <label for="username">Enter Username:</label>
      <input
        type="text"
        id="username"
        name="username"
        class="form-control"
        required
      />
      <label for="password">Enter Password:</label>
      <input
        type="password"
        id="password"
        name="password"
        class="form-control"
        required
      />
    </div>
    <p class="fs-6">
      Already have an account? Login<span class="user-interaction"
        ><a href="/login"> here</a></span
      >
    </p>
    <button type="submit" class="btn admin-btn">Register</button>
  </form>
</div>
