<div class="container mt-5">
  <div class="text-center">
    <h1>Account Verification Pending</h1>
    <p>
      Your account is pending verification by an admin. Please wait for further
      instructions.
    </p>
    <a href="/" class="btn btn-primary">Return to Main Page</a>
  </div>
</div>
